@model Library_Mvc.Models.Category

<h2>Добавить категорию</h2>
<form asp-action="Create" method="post">
    <label>Название категории:</label>
    <input asp-for="Name" />
    <button type="submit">Добавить</button>
</form>