<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav>
        <a href="/">Главная</a> |
        <a href="/Books/Create">Добавить книгу</a> |
        <a href="/Categories/Create">Категории</a> |
        <a href="/Users/Register">Регистрация</a> |
        <a href="/Users/Profile">Личный кабинет</a>
    </nav>
</header>
<div class="container">
    @RenderBody()
</div>
</body>
</html>