@model Library_Mvc.Models.DtoModels.BookAddDto

<h2>Добавить книгу</h2>
<form asp-action="Create" method="post">
    <label>Название:</label>
    <input asp-for="Name" />
    <label>Автор:</label>
    <input asp-for="Author" />
    <label>Ссылка на картинку:</label>
    <input asp-for="RefImg" />
    <label>Дата создания:</label>
    <input type="date" asp-for="CreateDate" />
    <label>Описание:</label>
    <textarea asp-for="Description"></textarea>
    <label>Категория:</label>
    <input asp-for="CategoryName" />
    <button type="submit">Добавить</button>
</form>